/* src/components/NewReleasesGrid.css */

.new-releases-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.release-card {
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.release-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.release-image {
  width: 100%;
  height: auto;
}

.release-info {
  padding: 10px;
  background-color: #FFF;
}

.release-title {
  font-size: 1.2rem;
  margin: 0;
}

.release-artist {
  font-size: 1rem;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .release-card {
    flex: 1 1 100%;
  }
}
