/* src/components/SongCard.css */

.card {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
  }
  
  .card-text {
    font-size: 1rem;
    margin: 0 0 10px 0;
    color: #666;
  }
  
  .audio-player {
    margin-top: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .card {
      flex: 1 1 100%;
    }
  }
  