body {
  font-family: 'Arial', sans-serif;
  background-color: #F3F7EC;
  color: #006989;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #006989;
  color: #F3F7EC;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F3F7EC;
  margin-right: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow form to grow horizontally */
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  background-color: #E88D67;
  color: #F3F7EC;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.song-card {
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.song-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack navbar items vertically */
    align-items: center; /* Center items vertically */
  }

  .search-form {
    width: 100%; /* Fosrm takes full width on smaller screens */
  }

  .container {
    padding: 10px;
  }

  .song-list {
    flex-direction: column; /* Stack song cards vertically */
  }

  .song-card {
    flex: 1 0 100%; /* Make each song card take full width */
  }
}
